.card-container-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 100%; /* Adjust the width to fit the screen size */
  max-width: 400px; /* Add a max-width for larger screens */
  margin: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.login-button {
  background-color: var(--orange);
  color: #fff;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 7rem;
  font-size: 1rem;
}

.button:hover {
  background-color: black;
}

.small-image {
  width: 100%; /* Adjust the width to fit the screen size */
  height: auto;
}
