/* OTP Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }
  
  /* OTP Form */
  .otp-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    max-width: 80%;
  }
  
  /* OTP Heading */
  .otp-box h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  /* Form Input */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Form Input Field */
  .form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
  }
  
  /* Submit Button */
  .btn-container {
    text-align: center;
    margin-top: 1rem; /* Adjust the margin as needed */
  }
  .submit-button {
    background-color: var(--orange);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1.5rem;
    align-self: center;
  
  }
  .submit:hover {
    background-color: black;
  }
  
  
  /* Resend Link */
  .resend-link {
    margin-top: 20px;
  }
  
  /* Style the resend link */
  .resend-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  /* Style the resend link on hover */
  .resend-link a:hover {
    text-decoration: underline;
  }
  