/* Password Container */
.password-container {
    display: flex;
    justify-content: flex-end; /* Align content to the right */
    align-items: center; /* Center vertically */
    height: 100vh; /* 100% viewport height */
    padding: 20px;
  }
  
  /* Password Form */
  .password-form {
    background-color: #fff; /* Background color for the form */
    padding: 40px; /* Increase padding for more space */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle card effect */
    text-align: center; /* Center text within the form */
    width: 400px; /* Increase width as needed */
    max-width: 80%; /* Limit maximum width for responsiveness */
  }
  
  /* Password Heading */
  .password-form h2 {
    font-size: 28px; /* Increase font size for the heading */
    margin-bottom: 20px;
  }
  
  /* Form Input */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Form Input Field */
  .form-control {
    width: 100%;
    padding: 12px; /* Increase padding for larger input field */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px; /* Increase font size for the input field */
  }
  
  /* Submit Button */
  .btn-primary {
    background-color:var(--orange);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 24px; /* Increase padding for a larger button */
    font-size: 18px; /* Increase font size for the button */
    cursor: pointer;
  }
  
  /* Style the button on hover or focus */
  .btn-primary:hover, .btn-primary:focus {
    background-color:black;
  }
  