
.password-container {
  position: absolute;
  right: 5rem; 
  top: 50%; 
  transform: translateY(-50%); 
  width: 35rem;
  height: 30rem;
  border-top-left-radius: 2.8rem;
  border-bottom-right-radius: 2.8rem;
  margin-left: 3rem;
}
  
  /* Password Form */
  .password-form {
    background-color: #fff; 
    padding: 40px; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    width: 400px;
    max-width: 80%; 
  }
  
  /* Password Heading */
  .password-form h2 {
    font-size: 28px; /* Increase font size for the heading */
    margin-bottom: 20px;
  }
  
  /* Form Input */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Form Input Field */
  .form-control {
    width: 100%;
    padding: 12px; /* Increase padding for larger input field */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px; /* Increase font size for the input field */
  }
  
  /* Submit Button */
  .btn-container {
    text-align: center;
    margin-top: 1rem; /* Adjust the margin as needed */
  }
  .securelogin-button {
    background-color: var(--orange);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1.5rem;
    align-self: center;
  
  }
  .securelogin:hover {
    background-color: black;
  }
  