.container {
  position: absolute;
    right:5rem;
    width: 35rem;
    height: 30rem;
    border-top-left-radius: 2.8rem;
    border-bottom-right-radius: 2.8rem;
    margin-left: 3rem;
}

.login-box {
  width: 33rem;
  padding: 20px;
  border-radius: 1rem;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow effect */
  position: relative;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 3rem;
}

.checkbox-label {
  display: flex;
  align-items: center;
  text-align: left;
}

.checkbox-label input[type="checkbox"] {
  margin-right: 5px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 18px;
}

.btn-container {
  text-align: center;
  margin-top: 1rem; /* Adjust the margin as needed */
}
.next-button {
  background-color: var(--orange);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1.5rem;
  align-self: center;

}
.next-button:hover {
  background-color: black;
}


.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #ccc;
  margin: 0 10px;
}

body {
  font-size: 18px;
}
